# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List the popular programming languages used in data science.
* List libraries commonly used by data scientists.
* List the essential tools and environments used in data science projects.
* Present examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow
4. Matplotlib

| **Data Science Tools** |
| ---- |
| Jupyter Notebook |
| RStudio |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
a=200 #minutes
a/60 #hours

3.3333333333333335

## Author

Julieta Capiel